.content {
  flex: 1;
  background-color: $gray-lightest;
}

.content-intro {
  background-color: $gray-lightest;
  color: $gray-darker;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 40px;
  height: 150px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.content-services {
  
}

.content-services__title {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 40px;
  background-color: $gray-lighter;
  margin: 0 auto;

  span {
    border-bottom: 1px solid $green;
  }
}

.content-services__item {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.content-services__item-title {
  font-size: 30px;
}

.content-services__item-body {
  font-size: 20px;
}

.content-services__item:nth-child(2n + 1) {
  background-color: $gray-lighter;
}

@media (max-width: 900px) {
  .content-intro {
    height: 60px;
    font-size: 20px;
  }
}