$tan: #DCE2BD;
$peach: #D4CDAB;
$light-green: #B6C4A2;
$green: #93C0A4;

$gray-darker: #404040;
$gray-dark: #6c6c6c;
$gray: #9f9f9f;
$gray-light: #c5c5c5;
$gray-lighter: #ececec;
$gray-lightest: #f9f9f9;